



body{
    grid-template-rows: auto 1fr auto;
    margin: 0%;
    padding: 0%; 
}
body{
    background-image: url(../img/fond.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
section{
    text-align: center;
}

p, li{
    color: rgb(255, 255, 255);  
}

header img{
    
    
    opacity: 0.75;
    margin-left: 19%;
    
    max-width: 70%;
    display: flex;
}
img.tapis{
    opacity: 0.9;
}


ul.menu {
    
    display: flex;
    justify-content: space-around;
    
    background-color:#f3464667;
    border: 1px solid #4c494967;
    
    
}



ul.menu li{
    display: inline-flex; 
}

h1,h2,h3,h4{
    
    color: #ffffff;
    font-weight: bolder;
    
    
}

div.carte_magie ,div.carte_piege,div.carte_monstre{
    display: flex;
    flex-direction: column;
    max-width: 45%;
    margin: 2%;
    min-width: 45%;
   
    
   
}

div.magie, div.piege,div.monstre {
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
}
 
footer{
    border-top: 3px solid #595857;
   background-color: #2d3dee91;

   padding: 10px;
   
   
}
footer p{
    color: #ffffff;
}
video{
    max-width: 60%;
    min-width: 60%;
}

a.siteOff,a.p1,a.p2,a.p3,a.p4{
    color: #8fff05;
    font-weight:bold;
    
    
}
section.formulaire{
    display:flex;
    
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}
img, audio{
    max-width: 45%;  
}
img.card, video{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}








    


