



body{
    background-color:#ffad50;
    margin: 0%;
    
    
}
img, audio{
    max-width: 45%;
    
}
header img{
    
    margin-left: 15%;
    
    max-width: 70%;
    display: flex;
    justify-content: right;
}

ul.menu {
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    justify-content: space-around;
    
    background-color:#f3464667;
}
ul.menu li{
    display: inline-flex; 
}
h1,h2,h3,h4{
    
    color: #4F0341;
}
div.carte_magie ,div.carte_piege,div.carte_monstre{
    display: flex;
    flex-direction: column;
    max-width: 45%;
    margin: 2%;
    min-width: 45%;
}
div.magie, div.piege,div.monstre{
    display: flex;
    flex-wrap: wrap;
}
footer{
   background-color: #fff29e;
   padding: 10px;
   
}
video{
    max-width: 60%;
    min-width: 60%;
}
