



body{
    grid-template-rows: auto 1fr auto;
    margin: 0%;
    padding: 0%; 
}
body{
    background-image: url(../img/fond.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
p{
    margin: 0 20%;
}
section{
    text-align: center;
}
p,label,li{
    font-size: 1.25em;
}
h2,h3,h4{
    font-size: 1.4em;
}
h1{
    font-size: 1.6em;
 }

p, li,label{
    color: rgb(16, 255, 231);  
    text-shadow: -1px -1px 0 #0b0176,1px -1px 0 #0b0176,-1px 1px 0 #0b0176,1px 1px 0 #0b0176;

}
textarea{
    resize: none;
}

header img.logoyugioh{
    
    
    opacity: 0.75;

    padding-left:30%;
    max-width: 40%;
    min-width: 40%;
    display: flex;
    width: 100%;
}
img.tapis{
    opacity: 0.9;
}


ul.menu {
    
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    background-color:#2c2cda2b;
    border: 1px solid #4c494967;
    padding: 20px;
    
    
}



ul.menu li {
    display: inline-flex; 
}


h1,h2,h3,h4{
    text-shadow: -1px -1px 0 #000000,1px -1px 0 #000000,-1px 1px 0 #000000,1px 1px 0 #000000;
    
    color: #21fef3;
    font-weight: bolder;
    
    
}
div.magie h3{
 color: #0aead3;
}
div.piege h3{
    color: #f10bc7;

}
div.monstre h3{
    color:#b66820 ;
}

div.carte_magie ,div.carte_piege,div.carte_monstre{
    display: flex;
    flex-direction: column;
    max-width: 45%;
    margin: 2%;
    min-width: 45%;
   
    
   
}

div.magie, div.piege,div.monstre {
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
}
 
footer{
    
    border-top: 3px solid #595857;
   background-color: #2d3dee91;

   padding: 10px;
   
   
}
footer p{
    color: #ffffff;
}
video{
    max-width: 60%;
    min-width: 60%;
}

a.siteOff,a.p1,a.p2,a.p3,a.p4{
    color: #8fff05;
    font-weight:bold;
    
    
}
section.formulaire{
    display:flex;
    
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}
img, audio{
    max-width: 45%;  
}
img.card, video{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.menu-img{
    display: none;
}
.menu li{
    font-size: 1.5em;
}









    


